:root {
    /* Brand */
    --color-primary: #116ACC;
    --color-primary-hover: #0552ad;
    --color-secondary-1: #182233;
    --color-secondary-2: #B3CEE2;
    --color-secondary-3: #D9DDE7;
    --color-secondary-4: #FD4E5D;

    /* Gray */
    --gray-0: #F2F6FD;
    --gray-1: rgba(31, 41, 55, 1);
    --gray-2: rgba(55, 65, 81, 1);
    --gray-3: rgba(75, 85, 99, 1);
    --gray-4: rgba(107, 114, 128, 1);
    --gray-5: rgba(156, 163, 175, 1);
    --gray-6: rgba(209, 213, 219, 1);
    --gray-7: rgba(243, 244, 246, 1);

    /* State */
    --color-info: #2F80ED;
    --color-success: #27AE60;
    --color-warning: #F2C94C;
    --color-error: #EB5757;

    /* White */
    --color-white: #FFFFFF;
    --color-black: #000000;
}