:root {
    /* Font Family */
    --font-ubuntu: 'Ubuntu', sans-serif;

    /* Display / Headings */
    --fs-32: 32px;
    --lh-32: 36px;

    --fs-24: 24px;
    --lh-24: 28px;

    --fs-20: 20px;
    --lh-20: 24px;

    --fs-18: 18px;
    --lh-18: 22px;

    --fs-16: 16px;
    --lh-16: 20px;

    --fs-14: 14px;
    --lh-14: 20px;

    --fs-13: 13px;
    --lh-13: 20px;

    /* Weights */
    --fw-light: 300;
    --fw-regular: 400;
    --fw-medium: 500;
    --fw-bold: 700;
}