@import "tailwindcss";
@import './styles/colors.css';
@import "./styles/typography.css";

@layer base {

  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }
}

@property --warning-color {
  syntax: "<color>";
  inherits: false;
  initial-value: #f70202;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  margin: 0;
}

body {
  font-family: -apple-system, Ubuntu, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Cantarell, 'Helvetica Neue', sans-serif;
  background-color: #fff;
  line-height: 1.4;
}

a:link,
a:visited {
  color: #0077cc;
}

a:hover,
a:focus {
  color: #004499;
}

code,
pre {
  max-width: 100%;
}